<label>{{ros_actionserver_desc}}</label>
<br />
<select class="jsRosActionServerSelector cssRosActionServerSelector" name="doesnotmatter" 
data-widget-instance-id="{{widget_instance_id}}" 
data-ros-actionserver-id="{{ros_actionserver_id}}" 
data-ros-actionserver-chng="{{ros_actionserver_chng}}" 
data-ros-actionserver-type="{{ros_actionserver_type}}">
  <option value="">-- Select an action server to subscribe --</option>
</select>
