<label>{{ros_topic_desc}}</label>
<br />
<select class="jsRosTopicSelector cssRosTopicSelector" name="doesnotmatter" 
data-widget-instance-id="{{widget_instance_id}}" 
data-ros-topic-id="{{ros_topic_id}}" 
data-ros-topic-chng="{{ros_topic_chng}}" 
data-ros-topic-type="{{ros_topic_type}}">
  <option value="">-- Select a topic to subscribe --</option>
</select>
