<label>{{widget_param_desc}}</label>
<br />
<input type="text" 
class="jsWidgetParam cssWidgetParam" 
name="doesnotmatter" 
data-widget-instance-id="{{widget_instance_id}}" 
data-widget-param-id="{{widget_param_id}}" 
data-widget-param-var="{{widget_param_var}}" 
value="{{default_value}}" />
