<div class="jsWidgetContainer cssWidgetContainer" data-widget-instance-id="{{WidgetInstance.id}}" data-widget-conf="1" style="left:{{left}};top:{{top}};width:{{width}};height:{{height}};">
  <!--
  <link rel="stylesheet" type="text/css" href="widgets/{{WidgetInstance.Widget.alias}}/main.css" />
  <script type="text/javascript" src="widgets/{{WidgetInstance.Widget.alias}}/main.js"></script>
  -->

  <div class="jsWidgetConfiguration cssWidgetConfiguration" data-widget-instance-id="{{WidgetInstance.id}}">
    <a href="#" class="jsWidgetSettings cssWidgetSettings" data-widget-instance-id="{{WidgetInstance.id}}"></a>
    <!--
    <a href="#" class="jsWidgetDelete cssWidgetDelete shadow"></a>
    <a href="#" class="jsWidgetConfirm cssWidgetConfirm shadow"></a>
    -->
    <span href="#" class="jsWidgetResize cssWidgetResize"></span>
  </div>

  <div class="jsWidgetContent cssWidgetContent">
    <div class="jsWidgetMask cssWidgetMask"></div>
    {{{content}}}
  </div>
</div>
