<div class="jsWidgetContainer cssWidgetContainer" data-widget-instance-id="{{WidgetInstance.id}}" data-widget-conf="1" style="left:{{left}};top:{{top}};width:{{width}};height:{{height}};">
  <link rel="stylesheet" type="text/css" href="widgets/{{WidgetInstance.Widget.alias}}/main.css" />

  <div class="jsWidgetConfiguration cssWidgetConfiguration" data-widget-instance-id="{{WidgetInstance.id}}">
    <a href="#" class="jsWidgetSettings cssWidgetSettings"></a>
    <a href="#" class="jsWidgetConfirm cssWidgetConfirm shadow"></a>
    <a href="#" class="jsWidgetDelete cssWidgetDelete shadow"></a>
    <a href="#" class="jsWidgetResize cssWidgetResize"></a>
  </div>

  <div class="jsWidgetContent cssWidgetContent">
    <div class="jsWidgetMask cssWidgetMask"></div>
    {{{content}}}
  </div>
</div>
