<div class="jsWidgetContainer cssWidgetContainer" data-widget-instance-id="{{WidgetInstance.id}}" data-widget-movable="1" style="left:{{left}};top:{{top}};">
  <link rel="stylesheet" type="text/css" href="widgets/{{WidgetInstance.Widget.alias}}/main.css" />
  {{{content}}}
</div>
